<!-- EVENTS NAVBAR-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Movie Clubs</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/events">Events <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
{{!-- Prints out all of the current events to specific cards --}}
<div class="row col-10">
  {{#each clubs}}
  <div class="col mb-4">
    <div class="card h-100 text-white bg-dark mb-5">
      <div class="event-card-body" id={{this.dataValues.id}}>
        <h5 class="card-title">{{this.dataValues.eventTitle}}</h5>
        <h6 class="card-title">Movie: {{this.dataValues.movieTitle}}</h6>
        <p class="card-text">Date: {{this.dataValues.date}}</p>
        <p class="card-text">Time: {{this.dataValues.time}}</p>
      </div>
    </div>
  </div>
  {{/each}}
</div>
{{!-- <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h5 class="card-title">Dark card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div> --}}